body {
  font-family: "Garamond", serif;
  padding-top: 0%;
  padding-left: 15px;
  padding-bottom: 15px;
}

.btn{
  background-color: #FF5A5F;
  border: none;
  border-radius: 15px;
}

#output {
  font-size: 15px;
  color: #FF5A5F;
}

h2 {
  font-size: 12px;
  color: #807c7e;
}
.card-text {
  padding-top: 5px;
}

.padder {
  padding-top: 5px;
}
