body {
  font-family: "Garamond", serif;
  padding-top: 0%;
  padding-left: 15px;
  /* padding-bottom: 15px; */
}

.btn{
  background-color: #FF5A5F;
  border: none;
  border-radius: 10px;
}

.amenities {

}

.card-text2 {
    display:inline-block;
    /* line-height: 40px; */
    background: #d1d1d1;
    margin: 5px 2px 5px 2px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    text-size-adjust: none;
}

.goback {
    margin-top: 15px;
}

#output {
  font-size: 15px;
  color: #FF5A5F;
}

.outputmsg {
  font-size: 16px;
  color: #807c7e;
}

.title {
  text-align: center;
  padding-bottom: 20px;
}


h1 {
  text-align: center;
}

h2 {
  font-size: 12px;
}

h4 {
  margin-left: 20px;
  margin-top: 20px;
}
.card-text {
  /* padding-top: 5px; */
}

.padder {
  /* padding-top: 5px; */
}
